* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: black;
}

.container{
    border: black 2px solid;
    margin-left: 50px;
    
}
.header{
    text-align: center;
    text-shadow: 2px 2px red;
    font-size: x-large;
    color: aliceblue;
    background: black;
    height: 10vh;
    padding: 20px;
    
    
    
}
.main{
    display: flex;
    background-color: black;
}

.section{
    width: 30%;
    height: 500px;
    background-color:black;
    border: red 2px solid;
   
    
    
    
}
.result{
    width: 65%;
    background-color: aliceblue;
   border: red 2px solid;
    margin-left: 5px;

}
.ul{
 margin: 40px;
}

.divimg{
   
    height: 200px;
    margin-bottom: 20px;
    
   
    
}
.FormDelete{
    height: 250px;
    width: 25vw;
    margin-left: 28px;
    border-radius: 30px; 
    
  

}
.FormCreate{
    
    width: 25vw;
    margin-left: 28px;
    border-radius: 30px; 
}
.h2{   
    padding-top: 20px;
    margin-left: 10px;
    color:white;

}

.input{
   
   
    margin: 10px 10px 10px 0px;
    height: 30px;
    width: 60%;
    border:white 2px solid;
    border-radius: 10px;
    text-align: center;

    

}
.submit{
    height: 30px;
    width: 30%;
    border-radius: 10px;
    background-color: red;
    border: red 2px solid;
    border-radius: 10px;
    color: aliceblue;
}
.submit:hover{
    background-color: rgba(184, 10, 10, 0.404);
    border:red 2px solid;
   
    
}

.get-all-btn{
    
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 95%;
    background-color:red;
    border: black 2px solid;
    cursor: pointer;
    color: aliceblue;

    
}.get-all-btn:hover {
    background-color: rgba(184, 10, 10, 0.404);
    border:red 2px solid;
    text-transform: uppercase;
    
}
.footer{
    color: white;
    background-color: black;
    
}
